<html>
<head>
	<title>User Profile</title>
</head>
<body>
	{% block content %}
    <h1>Universe Journey</h1>
    <table>
        {% for user_profile in object_list %}
            <tr><td>Login:</td><td>{{ user_profile.login }}</td></tr>
			<tr><td>First Name:</td><td>{{ user_profile.first_name }}</td></tr>
			<tr><td>Last Name:</td><td>{{ user_profile.second_name }}</td></tr>
			<tr><td>E-mail:</td><td>{{ user_profile.email }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}
</body>
</html>