<html>
<head>
    <title>Registration</title>
	<link rel="stylesheet" type="text/css" href="/static/css/register.css"/>
</head>
<body>

  <h1>Create an account</h1>

  <form action="/level0/yeah/" method="post">
	<table>
	  <tr><td><div>Login:</td><td><input type="text" name="login"/></div></td></tr>
	  <tr><td><div>First name:</td><td><input type="text" name="first_name"/></div></td></tr>
	  <tr><td><div>Second name:</td><td><input type="text" name="second_name"/></div></td></tr>
	  <tr><td><div>Email:</td><td><input type="text" name="email"/></div></td></tr>
      <tr><td><div>Password:</td><td><input type="password" name="passwd"/></div></td></tr>
	  <tr><td><div>Repeat password:</td><td><input type="password" name="passwd"/></div></td></tr>
	  <tr><td><div>Sex:</td><td><input type="radio" name="sex" value="0"><input type="radio" name="sex" value="1" checked></div></td></tr>
      <tr><td><div><input type="submit"></td><td></td></tr></div>
	  </table>
  </form>

</body>
</html>