<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Rules of the game</title>
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/borders.css" />
</head>
<body>
    <h1>About Game</h1>
    <table>
        <tr><td>
<div id="full-border1">
    <pre>
    Правила игры "Universe Journey"

Общие положения.
1.1    "Universe Journey" - многопользовательская ролевая интернет-игра с неограниченным количеством участников.
    Любое физическое лицо, принимающее участие в игре, является Пользователем Игры.
1.2    Пользователь Игры обязан соблюдать
Пользовательское Соглашение;
настоящие Правила;
Правила поведения в чатах и форумах игры.
1.3    В случае нарушения указанных в п.1.2 норм, пользователь несет ответственность, предусмотренную данными Правилами.
Запрещенные действия.
2.1    Подбор, воровство и использование пароля к чужим персонажам.
2.2    Использование в игре программ для симуляции действий персонажа (ботов).
2.3    Регистрация двух и более персонажей (мультоводство) в обход правил регистрации дополнительных персонажей.
2.4    Нарушение правил поведения в чатах и форумах игры.
2.5    Использование ошибок программного обеспечения игры, а так же утаивание информации от Администрации игры о такого рода ошибках.
2.6    Осуществление намеренной прокачки при помощи боев, денег и любых других действий персонажей в игре.
2.7    Шантаж и угрозы расправой в реале.
2.8    Покупка, продажа, посредничество в купле и продаже игровых рублей, талеров, предметов, опыта, персонажей за валюту,
    не относящуюся к миру "Universe Journey", в обход официальных дилеров "Universe Journey" и сервисов оплаты, указанных
    на сайте universeJourney.ru и его поддоменах.
2.9    Организация, заказ и использование СМС-услуг "Universe Journey" с использованием незаконного СМС-трафика (ФРОД).
2.10    Осуществление саботажа(противодействие) действий Администрации, а также публичные призывы и агитация к осуществлению
    саботажа деятельности Администрации, а равно действия, направленные на подрыв авторитета Администрации.
2.11    Осуществление деятельности по организации массового неповиновения или иных массовых акций, проводимых без
    официального разрешения Администрации.
Последствия нарушения норм игры.
3.1    Администрация игры оставляет за собой право на удаление персонажей, и временное или постоянное прекращение доступа в игру
    Пользователей, нарушивших Пользовательское Соглашение, Правила Игры или правила поведения в чатах и форумах игры.
3.2    Основанием для применения санкций может быть также подозрение в нарушении Пользователем вышеозначенных норм.
3.3    Пользователь игры, к которому применены меры наказания, может обжаловать решение Администрации игры письмом по
    электронной почте по адресам указанным на Сайте Игры.
Использование в Игре персонажа Пользователя.
4.1    Ролевой персонаж Пользователя может производить в игре любые действия не противоречащие настоящим правилам или
    Пользовательскому Соглашению или Правилам поведения в чатах и форумах игры.
4.2    В рамках игрового процесса, существует игровое законодательство, а также надзорные и регулирующие органы,
    следящие за его соблюдением.
4.3    Персонаж Пользователя не обязан соблюдать игровое законодательство, но в этом случае надзорными органами в игре могут быть
    применены игровые санкции, предусмотренные игровым законодательством. Такие санкции могут носить только временный характер и
    применяются только к персонажу пользователя (без его удаления), но не к самому Пользователю.
</pre></div>
</td></tr>
        <tr><td>
            <a href="http://127.0.0.1:8000/level0/user_agreement/">Пользовательское Соглашение</a>
        </td></tr>
        </table>
</body>
</html>