<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>User Agreement</title>
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/borders.css" />
</head>
<body>
    <table>
        <tr><td>
            <div id="full-border1">
<pre>
Пользовательское соглашение

Настоящее Соглашение разработано в целях урегулирования отношений между Администрацией информационного ресурса «Universe Journey»
    и физическим лицом, осуществляющим поиск и распространение информации на данном ресурсе.

Информационный ресурс «Universe Journey» не является средством массовой информации, Администрация ресурса не осуществляет
    редактирование размещаемой информации и не несёт ответственность за её содержание.

На информационном ресурсе «Universe Journey» уважается и защищается авторское право и связанные с ним личные имущественные
    и неимущественные права. Использование произведений без согласия автора допускается лишь в установленных законом
    случаях.

Пользователь, разместивший информацию на ресурсе «Universe Journey», самостоятельно представляет и защищает свои интересы,
    возникающие в связи с размещением указанной информации, в отношениях с третьими лицами.

1. Стороны соглашения

Администрация информационного ресурса «Universe Journey», расположенного на доменном имени www.habrahabr.ru, в дальнейшем
    Администрация, и физическое лицо, размещающее информацию на данном ресурсе, в дальнейшем Пользователь,
    заключили настоящее Пользовательское соглашение, в дальнейшем Соглашение, о нижеследующем.

2. Предмет соглашения

Администрация предоставляет Пользователю право на размещение на информационном ресурсе «Universe Journey» следующей информации:

текстовой информации;
аудиоматериалов в формате, установленном Администрацией;
видеоматериалов в формате, установленном Администрацией;
фотоматериалов в формате, установленном Администрацией;
ссылок на материалы, размещённые на данном информационном ресурсе, либо на других информационных ресурсах.
3. Права и обязанности сторон

Пользователь имеет право:

свободно осуществлять поиск, получение, передачу, производство и распространение информации на информационном ресурсе
    «Universe Journey» любым законным способом;
комментировать предоставленную иными Пользователями информацию;
в любой момент потребовать от Администрации скрытия от прочих пользователей информационного ресурса «Universe Journey» всей
    предоставленной им информации, а также собственной учетной записи Пользователя;
изменять рейтинги других Пользователей и осуществлять иные действия с соблюдением установленных Администрацией Правил.
Администрация имеет право:

по своему усмотрению создавать, изменять, отменять Правила пользования информационным ресурсом «Universe Journey»;
по своему усмотрению ограничить доступ к любой информации, размещённой Пользователем; удалить информацию, размещённую
    Пользователем, учётную запись Пользователя;
отказать в регистрации учётной записи Пользователю, учётная запись которого была ранее удалена за нарушение условий
    Соглашения.
Пользователь обязуется:

обеспечить достоверность предоставляемой информации;
при распространении информации, создателем которой Пользователь не является, обеспечить включение в её состав
    достоверных сведений об обладателе этой информации или об ином лице, распространяющем информацию, в форме и объёме,
    которые достаточны для идентификации такого лица;
не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной
    ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная
    ответственность;
не нарушать работоспособность сайта путём размещения информации, содержащей вирусы, создания дополнительной нагрузки на
    сервер, применением программ, не обусловленных функциональным содержанием информационного ресурса и иными способами.
Администрация обязуется:

осуществлять защиту учетной записи Пользователя от неправомерного доступа, уничтожения размещённой Пользователем
    информации, а также от иных неправомерных действий в отношении такой информации всеми находящимися в её
    распоряжении техническими средствами;
в случае размещения Пользователем информации, распространение которой ограничено или запрещено федеральными законами,
    либо вынести Пользователю предупреждение и удалить такую информацию, либо удалить учётную запись Пользователя,
    либо применить одну или несколько мер одновременно;
предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной власти в случаях,
    установленных законом.
4. Иные условия

Пользователь осознаёт и соглашается с тем, что размещённая им информация может быть использована поисковыми или другими
    автоматизированными сервисами и иными способами.

Администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг.

В случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.)
    Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу
    информационного ресурса.

5. Ответственность сторон

В случае, если Пользователем была размещена информация, распространение которой ограничивается или запрещается
    федеральными законами, нарушает авторское или иное защищаемое законом право, всю полноту ответственности за её
    размещение несёт Пользователь.

6. Время и условия действия Соглашения

Настоящее соглашение вступает в силу с момента авторизации Пользователем на информационном ресурсе «Universe Journey» и
    распространяется на неопределённый срок.

Администрация имеет право на одностороннее изменение положений Соглашения, Пользователь может быть уведомлен об
    изменениях при помощи технических средств ресурса.
    </pre></div>
</td></tr>
        <tr><td>
            <a href="http://127.0.0.1:8000/level0/register/">Next</a>
        </td></tr>
        </table>
</body>
</html>